.section {
  height: 100vh !important;
}

.section-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/assets/img/shocked.png") bottom;
  background-repeat: no-repeat;
  background-size: 80% auto;

}

.header-center {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.text-center {
 text-align: center;
}

.div-tab {
    padding: 15px;
}

.switch {
    width: 100px
}